<div class="top-section">
  <div class="space1"></div>
  <div class="box">Welcome to Clicon online eCommerce store</div>
  <div class="space1"></div>
  <div class="box">
    Follow us:&nbsp;
    <a  class="box1" href="https://www.google.com" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/navbar/twitter.svg" width="18">
    </a>
    <a  class="box1" href="https://www.google.com" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/navbar/facebook.svg"  width="18">
    </a>
    <a class="box1" href="https://www.google.com" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/navbar/pinterest.svg"  width="18">
    </a>
    <a class="box1" href="https://www.google.com" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/navbar/reddit.svg"  width="18">
    </a>
    <a class="box1" href="https://www.google.com" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/navbar/youtube.svg"  width="18">
    </a>
    <a class="box1" href="https://www.google.com" target="_blank" rel="noopener noreferrer">
      <img src="assets/icons/navbar/instagram.svg"  width="18">
    </a>
  </div>
  
  <div class="vertical_spacer">

  </div>
  <div class="space1"></div>
</div>
