$clicon-grey-0: #ffffff;
$clicon-grey-50: #f2f4f5;
$clicon-grey-100: #e4e7e9;
$clicon-grey-300: #adb7bc;
$clicon-grey-400: #929fa5;
$clicon-grey-500: #77878f;
$clicon-grey-600: #5f6c72;
$clicon-grey-700: #475156;
$clicon-grey-800: #303639;

$clicon-one: #c9cfd2;
$clicon-two: #191c1f;

$clicon-primary-50: #fff3eb;
$clicon-primary-100: #ffe7d6;
$clicon-primary-200: #ffcead;
$clicon-primary-300: #ffb685;
$clicon-primary-400: #ff9d5c;
$clicon-primary-500: #fa8232;
$clicon-primary-600: #de732d;
$clicon-primary-700: #99501f;
$clicon-primary-800: #663514;
$clicon-primary-900: #331b0a;

$clicon-secondary-50: #eaf6fe;
$clicon-secondary-100: #d5edfd;
$clicon-secondary-200: #abdbfa;
$clicon-secondary-300: #81c9f8;
$clicon-secondary-400: #57b7f5;
$clicon-secondary-500: #2da5f3;
$clicon-secondary-600: #2484c2;
$clicon-secondary-700: #1b6392;
$clicon-secondary-800: #124261;
$clicon-secondary-900: #092131;



